<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="tubs-wrap">
        <input type="radio" name="tub" id="tub-1" checked>
        <label for="tub-1"><img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt=""></label>
        <input type="radio" name="tub" id="tub-2">
        <label for="tub-2"><img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt=""></label>
        <input type="radio" name="tub" id="tub-3">
        <label for="tub-3"><img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt=""></label>
        <div class="content">
            <img class="tub-1" src="https://pbs.twimg.com/profile_images/823569976342773760/c2RLAG7h_400x400.jpg" alt="">
            <img class="tub-2" src="https://newsroom.ibm.com/image/security%2Bthumbnail%2B400x400.png" alt="">
            <img class="tub-3" src="https://www.redcross.org/content/dam/redcross/get-help/water-safety/home-pool-safety-social-400x400.png" alt="">
        </div>
    </div>
</body>
</html>
