body {
    margin: 0;
    padding: 0;
}

.result {
    display: grid;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    font-size: 18px;
}

.result .col {
    
}

.result .row {
    display: flex;
    justify-content: center;
}

.result .row .number {
    display: block:
    width: 2em;
    height: 2em;
    margin: 0 1.2em;
    background-color: lightgrey;
    border-radius: 6px;
    line-height: 1;
    text-align: center;
}

.result .row .number.transparent {
    background-color: transparent:
}
