.works {
	padding-bottom: 80px;
	margin: 0 auto;
	&__wrap {
		display: flex;
		justify-content: center;
	}
	&__divider {
		height: 2px;
		width: 100%;
		background-color: #eee;
		&_vertical {
			width: 2px;
			height: 52px;
			background-color: #eee;
			margin-top: 64px;
			margin-bottom: 64px;
		}
	}
	&__item {
		width: 298px;
		display: flex;
		align-items: center;

		&:first-child {
			width: auto;
			margin-right: 49px;
		}
		&:last-child {
			width: auto;
			margin-left: 63px;
		}
	}
	&__link {
		display: block;
		margin: 0 auto;
	}
	&__img {
		opacity: .2;
		&:hover {
			opacity: 1;
		}
		&:active {
			opacity: .1;
		}
	}
}