.slider {
	position: relative;
	&__item {
		height: 430px;
		position: relative;
		display: flex;
		align-items: flex-end;
	}
	&__title {
		margin-top: 82px;
		color: #000000;
		font-size: 55px;
		font-weight: 500;
		line-height: 55px;
	}
	&__subtitle {
		margin-top: 27px;
		color: $color-subtitle;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
	&__descr {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__img {
		margin-left: auto;
		display: block;
		&_1 {
			margin-right: 31px;
		}
	}
	
	.slick-dots {
		position: absolute;
		bottom: 96px;
		left: 536px;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 88px;
		li {
			position: relative;
			display: inline-block;
			height: 18px;
			width: 18px;
			margin-right: 17px;
			padding: 0;
			cursor: pointer;
			&:last-child {
				margin-right: 0;
			}
			button {
				border: 0;
				background: #fff;
				border-radius: 100%;
				display: block;
				height: 18px;
				width: 18px;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				cursor: pointer;
				&:hover, &:focus {
					outline: none;
				}
			}
			&.slick-active button:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: "";
				width: 8px;
				height: 8px;
				display: block;
				border: 2px solid #c2c2c2;
				border-radius: 100%;
				text-align: center;
			}
		}
	}
}