.foreign-help {
    padding: 64px 25px 0 25px;
    min-height: 445px;
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foreign-help__descr {
    font-family: 'Montserrat', sans-serif;
    margin: 30px auto 90px 30px;
}
.foreign-help__descr-item {
    list-style-image: url(../icons/check.svg);
}
.foreign-help__descr-item:not(:first-child) {
    margin-top: 10px;
}
.foreign-help__list {
    padding-left: 30px;
}
.foreign-help__subtitle {
    font-size: 21px;
}