.lang {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lang__title {
    text-align: center;
    padding: 0 3px 0 3px;
    margin: 40px 0 10px;
}
.lang__list {
    margin: 55px auto 25px;
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
}
.lang__item {
    padding-left: 10px;
    width: 50%;
    margin: 25px auto 0 auto;
}
.lang__item:nth-child(2n-1){
    padding-left: 0;
}